# Ignore the Assistant environment folder
assistant/

# Ignore the temp files for test the sdk
#test_sdk.py

# Ignore all the pycache folders in the project
**/__pycache__/

# Ignore the .vscode folder
.vscode/

# Ignore .pem files
**/*.pem

# Ignore the .sh script to connect the virtual machine
connect.sh

# Ignore the .log files
**/*.log

# Ignore the refactoring folder
refactoring/

# Ignore the test_voice.py
test_voice.py

# Ignore all the possible temporal files in conversation/audio/temp
conversation/voice/temp/*.wav

# Ignore the .DS_Store files
**/.DS_Store